@import "tailwindcss";

@font-face {
    font-family: "Puimek";
    src: url("./fonts/puimek.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Puimek", sans-serif;
}